[submodule "themes/charlolamode"]
	path = themes/charlolamode
	url = https://github.com/charlola/hugo-theme-charlolamode.git
[submodule "themes/hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery.git
